#map-canvas {
  height: 600px;
  width: 100%;
}
.navbar {
  min-height: 75px;
  border: none;
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.25);
  z-index: 2;
}
.navbar .logo-container {
  background: #83aecc;
  min-height: 75px;
  padding-top: 12px;
}
.navbar .logo-container img {
  margin: 0 auto;
  width: 107px;
  position: relative;
}
.navbar .top-nav {
  min-height: 75px;
}
.navbar .top-nav .start-new,
.navbar .top-nav .close-call {
  margin-top: 15px;
}
body.dashboard {
  background-color: #f5f5f5;
}
body.dashboard .main {
  margin-top: 75px;
  padding-top: 20px;
}
body.dashboard .main h1 {
  margin-top: 10px;
}
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-label {
  margin-top: 5px;
}
.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}
.sidebar {
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2a2d33;
}
.sidebar ul a:hover {
  text-decoration: none !important;
}
.sidebar ul li {
  padding: 10px 20px;
  font-weight: bold;
  color: #7f8083;
}
.sidebar ul li:hover {
  background: #494d56;
  color: #FFF;
}
.sidebar ul .active li {
  background: #c5c678;
  color: #FFF;
}
.sidebar ul .sidebar-label {
  text-transform: uppercase;
  color: #7f8083;
  font-size: 80%;
  font-weight: normal;
  border-bottom: 1px solid #7f8083;
}
.sidebar ul .sidebar-label:hover {
  background: none;
  color: #7f8083;
}
.right-rail {
  background-color: #DFDFDF;
  position: fixed;
  top: 75px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  /*
  h3 {
    margin: 0;
    margin-bottom: 20px;
  }
  */

}
.right-rail p {
  margin: 0;
}
.right-rail h3 {
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  font-weight: 300;
  color: #666;
  padding: 0 15px 10px;
}
.right-rail .profile-group {
  margin-bottom: 10px;
}
.right-rail .profile-group label {
  color: #333;
  margin-bottom: 0;
}
.right-rail .btn-link {
  padding: 0;
}
.right-rail .input-container {
  position: relative;
  min-height: 34px;
}
.right-rail .input-container p,
.right-rail .input-container input,
.right-rail .input-container select {
  position: absolute;
  top: 0;
  left: 0;
}
.right-rail .input-container p {
  top: 7px;
}
.right-rail .input-container input,
.right-rail .input-container select {
  display: none;
}
.right-rail .rr-label,
.right-rail .rr-sublabel {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
}
.right-rail .rr-sublabel {
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  margin-top: -5px;
}
.right-rail .narrative {
  font-weight: bold;
  font-size: 24px;
}
